html, body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background: #FAFAFA;
}

header {
	width: 100vw;
	min-height: 5vh;
	background: #0D5047;
}

header h1 {
	padding: 2vh;
	margin: 0;
	font-size: 2em;
	color: #FFFFFF;
}

#menu {
	position: absolute;
	bottom: 5vh;
	right: 5vh;
}


.button {
	float: left;
	margin: 1vh;
	width: 10vh;
	height: 10vh;
}

.button:hover {
	cursor: pointer;
}

.button.new-task:after {
	display: block;
	content: "\002B";
	border-radius: 50%;
	background-color: #0D5047;
	font-size: 10vh;
	line-height: 10vh;
	text-align: center;
	color: #FFFFFF;
}

.button.clear-list:after {
	display: block;
	content: "\1F5D1";
	border-radius: 50%;
	background-color: #A20000;
	font-size: 8vh;
	line-height: 10vh;
	text-align: center;
	color: #FFFFFF;
}

#tasks {
	margin: 0;
	padding: 0;
	width: 100vw;
}

.task-list {
	margin: 0;
	padding: 0;
	width: 100vw;
	list-style-type: none;
}

.task {
	display: flex;
	height: 50px;
	width: 100vw;
	align-items: center;
	background-color: #6BA099;
}

.task.finished {
	opacity: 0.5;
}

.task-status-checkbox {
	-moz-appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	flex-grow: 0;
	margin: 0 10px;
	height: 20px;
	width: 20px;
	background-color: #FFFFFF;
	border: 2px solid #051838;
}

.task-status-checkbox:hover {
	cursor: pointer;
}

.task-status-checkbox:checked {
	background-color: #051838;
}

.task-text-input {
	display: inline-block;
	margin: 0 5px;
	flex-grow: 2;
	height: 30px;
	border-width: 0px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 40px;

}

.task.edit .task-text-input {
	border-width: 0px 0px 2px 0px;
}